body {
	font-family: sans-serif;
}
::-moz-selection {
	background: #000;
	color:#fff;
	text-shadow: none;
}
::selection {
	background:#000;
	color:#fff;
	text-shadow: none;
}
a:link {
	-webkit-tap-highlight-color: #666;
}
html {
	overflow-y: scroll; /* This will keep scrollbar on-screen even when there is nowhere to go */
}